# 環境変数
.env
.env*

# Mac
.DS_Store

# Rails (app/)
/app/.bundle
/app/log/*
!/app/log/.keep
/app/tmp/*
!/app/tmp/.keep
/app/tmp/pids/*
!/app/tmp/pids/.keep
/app/tmp/storage/*
!/app/tmp/storage/.keep
/app/storage/*
!/app/storage/.keep
/app/public/assets
/app/config/master.key
